In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/00.이어드림/Project/FC Data analysis Project/project_raw_210329_210926.xlsx')
df.head(10)

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
0,970634.0,504760.0,201435.0,ORDER,CANCELLED,올인원 패키지 : 알고리즘 기술면접 완전 정복,프로그래밍,올인원,2021-03-28 15:00:11,90500.0,NaN,NaN,110500.0,110500.0,NaN,VBANK,개발자 커리어,NaT
1,970650.0,432862.0,203178.0,ORDER,CANCELLED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:16:53,96000.0,NaN,NaN,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02
2,970657.0,72297.0,204246.0,PAYMENT,COMPLETED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810.0,[10% 할인] 시크릿코드 실무 완성편,19090.0,190900.0,190900.0,NaN,CARD,NaN,2021-03-04
3,970656.0,72297.0,204246.0,ORDER,CANCELLED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810.0,NaN,NaN,190900.0,190900.0,NaN,CARD,NaN,2021-03-04
4,970658.0,478028.0,201797.0,PAYMENT,COMPLETED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:54,97500.0,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,117500.0,117500.0,NaN,CARD,PPT/보고서,2019-11-14
5,970655.0,478028.0,201797.0,ORDER,CANCELLED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:56,97500.0,NaN,NaN,117500.0,117500.0,NaN,CARD,PPT/보고서,2019-11-14
6,970614.0,477910.0,NaN,ORDER,CANCELLED,프로모션 : 2021 내 커리어 지켜 줄 UX/UI 디자인 한끝세트 (3월 프리패스),크리에이티브,올인원,2021-03-28 15:22:36,299000.0,NaN,NaN,299000.0,299000.0,NaN,CARD,NaN,NaT
7,970664.0,460730.0,200622.0,ORDER,CANCELLED,올인원 패키지 : 기업가치 평가와 M&A 전략 실무,부동산/금융,올인원,2021-03-28 15:25:42,112500.0,NaN,NaN,122500.0,122500.0,NaN,CARD,금융/투자 실무,2019-05-02
8,970669.0,478033.0,203178.0,PAYMENT,COMPLETED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:26:47,96000.0,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02
9,970667.0,478033.0,203178.0,ORDER,CANCELLED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:26:48,96000.0,NaN,NaN,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02

In [ ]:
# 데이터 종류 확인하기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105419 entries, 0 to 105418
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      105419 non-null  float64
 1   customer_id             105416 non-null  float64
 2   course_id               100212 non-null  float64
 3   type                    105419 non-null  object
 4   state                   105419 non-null  object
 5   course_title            105403 non-null  object
 6   category_title          105395 non-null  object
 7   format                  105403 non-null  object
 8   completed_at            105419 non-null  datetime64[ns]
 9   transaction_amount      105419 non-null  float64
 10  coupon_title            31817 non-null   object
 11  coupon_discount_amount  31817 non-null   float64
 12  sale_price              104291 non-null  float64
 13  tax_free_amount         104291 non-null  float64
 14  pg                      90344 non-null   object
 15  method                  92323 non-null   object
 16  subcategory_title       85590 non-null   object
 17  marketing_start_at      87440 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(7), object(9)
memory usage: 14.5+ MB

In [ ]:
df.describe()

,id,customer_id,course_id,transaction_amount,coupon_discount_amount,sale_price,tax_free_amount
count,1.054190e+05,105416.000000,100212.000000,1.054190e+05,3.181700e+04,1.042910e+05,1.042910e+05
mean,1.147054e+06,417248.252742,203868.586327,1.464814e+05,4.972172e+04,1.610808e+05,1.575551e+05
std,1.125898e+05,206414.496648,1534.583331,7.195061e+05,5.624467e+04,3.955298e+05,3.898133e+05
min,5.679930e+05,16.000000,2516.000000,-4.144074e+06,0.000000e+00,1.000000e+00,0.000000e+00
25%,1.048940e+06,256401.000000,203100.000000,8.350000e+04,2.000000e+04,1.090000e+05,1.090000e+05
50%,1.135186e+06,501046.000000,203787.000000,1.175000e+05,2.100000e+04,1.320000e+05,1.320000e+05
75%,1.240472e+06,566595.000000,204775.000000,1.590000e+05,6.915000e+04,1.710000e+05,1.710000e+05
max,1.381657e+06,672308.000000,207742.000000,1.134000e+08,2.000000e+06,9.094000e+07,9.094000e+07

## 결측치 처리

In [ ]:
print("* 데이터 타입, 데이터프레임 정보 확인")
print("----------------------------------------------------------------------")
df.info()
print()
print("* 데이터 칼럼별 결측값 확인")
print("----------------------------------------------------------------------")
df.isnull().sum()

* 데이터 타입, 데이터프레임 정보 확인
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105419 entries, 0 to 105418
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      105419 non-null  float64
 1   customer_id             105416 non-null  float64
 2   course_id               100212 non-null  float64
 3   type                    105419 non-null  object
 4   state                   105419 non-null  object
 5   course_title            105403 non-null  object
 6   category_title          105395 non-null  object
 7   format                  105403 non-null  object
 8   completed_at            105419 non-null  datetime64[ns]
 9   transaction_amount      105419 non-null  float64
 10  coupon_title            31817 non-null   object
 11  coupon_discount_amount  31817 non-null   float64
 12  sale_price              104291 non-null  float64
 13  tax_free_amount         104291 non-null  float64
 14  pg                      90344 non-null   object
 15  method                  92323 non-null   object
 16  subcategory_title       85590 non-null   object
 17  marketing_start_at      87440 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(7), object(9)
memory usage: 14.5+ MB

* 데이터 칼럼별 결측값 확인
----------------------------------------------------------------------

id                            0
customer_id                   3
course_id                  5207
type                          0
state                         0
course_title                 16
category_title               24
format                       16
completed_at                  0
transaction_amount            0
coupon_title              73602
coupon_discount_amount    73602
sale_price                 1128
tax_free_amount            1128
pg                        15075
method                    13096
subcategory_title         19829
marketing_start_at        17979
dtype: int64

In [ ]:
# 결측치 처리
# State : Deleted - row drop
# Customer_id - row drop
# Course_title - row drop

# coupon_title - 0값
# coupon_discount_amount - 0값
# sale_price,tax_free_amount - 0값, B2B - 1, ETC - 2

# method - col dorp

# Course_id - 고민

In [ ]:
# 혹시 모를 공백값 NaN 처리
df['state'].replace('', np.nan) #1순위
df['customer_id'].replace('', np.nan)
df['course_title'].replace('', np.nan)

# NaN값 row들 drop 
df.dropna(subset=['state'])
df.dropna(subset=['customer_id'])
df.dropna(subset=['course_title'])

# method - col dorp
df.drop(['method'],axis=1)

# coupon_discount_amount, coupon_title, pg - 0값 처리. titlem, pg은 '0'
df.loc[df['coupon_discount_amount'] != df['coupon_discount_amount'], 'coupon_discount_amount'] = 0
df.loc[df['coupon_title'] != df['coupon_title'], 'coupon_title'] = '0'
df.loc[df['pg'] != df['pg'], 'pg'] = '0'

### subcategory_title 결측치 처리

In [ ]:
df2 = df['subcategory_title'].unique()
df2

array(['개발자 커리어', '영상 편집', nan, 'PPT/보고서', '금융/투자 실무', '프론트엔드 개발',
       'DevOps', 'UX/UI', '머신러닝', '모션그래픽', '딥러닝/인공지능', '글쓰기/카피라이팅',
       '디지털마케팅', '엑셀/VBA', '데이터분석', '디자인툴', '모바일앱', '업무자동화', 'SNS마케팅',
       '게임', '회계/재무/세무', '부동산 개발', '시각디자인', '백엔드 개발', '데이터마케팅', '일러스트',
       '부동산 투자', '코딩 입문', '커뮤니케이션', '리더십', '주식 투자', '게임 그래픽', '데이터엔지니어링',
       'VFX'], dtype=object)

In [ ]:
temp = df.iloc[3].course_title.split(" ")
temp

['시크릿코드', ':', '프론트엔드', '실무', '완성편']

In [ ]:
words = []
for keyword in df2:
  if keyword in temp:
    words.append(keyword)
words

[]

In [ ]:
def func():
  temp = df.iloc[3].course_title.split(" ")
  temp
  
  words = []
  for keyword in df2:
    if keyword in temp:
      words.append(keyword)
  words

  df["new"] = df.course_title.apply(func)

In [ ]:
print("* 데이터 칼럼별 결측값 확인")
print("----------------------------------------------------------------------")
df.isnull().sum()

* 데이터 칼럼별 결측값 확인
----------------------------------------------------------------------

id                            0
customer_id                   0
course_id                  5191
type                          0
state                         0
course_title                  0
category_title                8
format                        0
completed_at                  0
transaction_amount            0
coupon_title                  0
coupon_discount_amount        0
sale_price                 1112
tax_free_amount            1112
pg                            0
subcategory_title         19813
marketing_start_at        17963
dtype: int64

In [ ]:
df[(df['sale_price'] != df['tax_free_amount'])&(df['sale_price'] != np.nan)]

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,subcategory_title,marketing_start_at
631,972364.0,478743.0,204039.0,PAYMENT,COMPLETED,(B2B) 힐코코리아 온라인 구독 올 플랜 - 패파입주사,교육,B2B 온라인,2021-03-29 08:52:36,100000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaT
633,972365.0,478745.0,203352.0,PAYMENT,COMPLETED,(B2B) 주식회사 루나 온라인 구독 ALL PLAN - 패파입주사,교육,B2B 온라인,2021-03-29 08:57:12,750000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaT
1194,974008.0,479366.0,204129.0,PAYMENT,COMPLETED,(B2B) 주식회사 비바리즈 온라인 구독 올 플랜 - 패파입주사,교육,B2B 온라인,2021-03-29 14:56:46,200000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaT
1312,976595.0,480387.0,204486.0,PAYMENT,COMPLETED,(B2B) 웰컴금융그룹 온라인 구독 싱글 플랜,교육,B2B 온라인,2021-03-29 16:43:59,1194000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaT
1458,984569.0,483121.0,204534.0,PAYMENT,COMPLETED,(B2B) (주)하나아이씨티 온라인 구독 올 플랜(추가) - 비대면바우처,교육,B2B 온라인,2021-03-29 18:29:07,390000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105272,1364334.0,436116.0,NaN,PAYMENT,COMPLETED,프로모션 : 데이터 분석 맥북 air 패스(9월 현물 프리패스),데이터사이언스,올인원,2021-09-24 18:53:00,1400000.0,NaN,0.0,1400000.0,251600.0,INICIS,NaN,NaT
105307,1364532.0,653384.0,NaN,PAYMENT,CANCELLED,프로모션 : 프론트엔드 맥북 pro 패스 (9월 현물 프리패스),프로그래밍,올인원,2021-09-24 22:18:01,1800000.0,NaN,0.0,1800000.0,295200.0,KAKAO,NaN,NaT
105311,1364534.0,653384.0,NaN,PAYMENT,CANCELLED,프로모션 : 프론트엔드 맥북 pro 패스 (9월 현물 프리패스),프로그래밍,올인원,2021-09-24 22:26:56,1800000.0,NaN,0.0,1800000.0,295200.0,PAYCO,NaN,NaT
105408,1364956.0,545804.0,NaN,PAYMENT,COMPLETED,프로모션 : 디자인 맥북 pro 패스(9월 현물 프리패스),디자인,올인원,2021-09-25 13:25:49,1800000.0,NaN,0.0,1800000.0,295200.0,INICIS,NaN,NaT
105410,1364965.0,144883.0,NaN,PAYMENT,CANCELLED,프로모션 : 풀스택 개발자 맥북 pro 패스(9월 현물 프리패스),프로그래밍,올인원,2021-09-25 13:34:41,1800000.0,NaN,0.0,1800000.0,295200.0,INICIS,NaN,NaT

## 가설 설정

**목표 : A카테고리를 결제한 유저가 있을 때, 해당 유저에게 어떤 카테고리의 광고를 내보내면 수익에 도움이 될지**

1. 1차 결제 유저들의 특징 취합
- 카테고리 분류 별 분류
- fotmat별 분류 
<br> 
<br>
<br>
2. 2차 결제 유저들의 특징 취합  
- 1차 결제자가 결제한 2차 카테고리  
form : 1차 결제자, 1차 결제 카테고리, 2차 결제 카테고리

필터 조건 : (type : payment & state : completed) => Customer_id != Unique => Customer_id.sort => id.sort



-